@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Source Sans Pro', sans-serif;
}

ul li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #000;
}

input, select {
    font-family: 'Source Sans Pro', sans-serif;
}

button {
    cursor: pointer;
}

.inline li {
    display: inline;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    padding: .5rem 2rem;
    background: #fff;
    position: fixed;
    width: 100%;
    border-bottom: 1px solid #dfdfdf;
    z-index: 999;
}

.main {
    display: flex;
    flex: 10;
    flex-direction: row;
    padding-top: 3rem;
}

.menu {
    flex: 1;
    border-right: 1px solid #dfdfdf;
    padding-top: 2rem;
}

.content {
    flex: 2;
    border-left: none;
    padding: 2rem;
}

.text_danger {
    color: #f00 !important;
    visibility: hidden;
}

.text_darkgray {
    color: #444 !important;
}

.text_gray {
    color: #aaa !important;
}

.text_primary {
    color: #003BDE;
}

.mb-1 {
    margin-bottom: 1.2rem;
}

.mb-2 {
    margin-bottom: 2rem;
}

.mr-2 {
    margin-right: 2rem;
}

.title {
    font-weight: 400;
    font-size: 2rem;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.btn_primary {
    background: #003BDE;
    border: 0;
    color: #fff;
    padding: .5rem 2rem;
    border-radius: .2rem;
}

.btn_primary:hover {
    background: rgb(0, 29, 109);
}

/* ------------------------- header --------------------------------- */

.header ul {
    margin-left: -62%;
}

.header ul li {
    padding: 0 2rem;
}

.header div:nth-child(3) {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.header .img_container {
    width: 24px;
}

.header p {
    margin: 0 2rem 0 1rem;
}

.logo {
    font-size: 30px;
}

/* ------------------------- header --------------------------------- */

/* ------------------------- menu --------------------------------- */

.menu div {
    width: 52%;
    float: right;
}

.menu div ul li {
    padding: 1rem;
    border-radius: .2rem;
    cursor: pointer;
}

.menu div ul li:hover {
    background: rgba(0, 59, 222, .026);
}

.menu div ul li a {
    color: #003BDE;
}

.menu div ul .active {
    border-left: 5px solid #003BDE;
    background: rgba(0, 59, 222, .1);
}

.tag {
    font-size: 11px;
    background: #61D079;
    color: #fff;
    padding: .2rem .8rem;
    margin-left: 1rem;
    border-radius: 3px;
}

.menu div div {
    width: auto;
    display: flex;
    align-items: center;
    float: none;
    justify-content: space-between;
}

.menu div div .small {
    margin-top: 1.5rem;
    margin-right: 1rem;
}

.menu div div p:nth-child(2) {
    margin-left: -20%;
}

.small {
    font-size: 11px;
}

.small2 {
    font-size: 12px;
}

/* ------------------------- menu --------------------------------- */

/* ------------------------- content --------------------------------- */

form {
    width: 55%;
}

form input {
    padding: .75rem !important;
    border-radius: .2rem;
    border: 1px solid #dfdfdf;
    font-size: 16px;
}

form input::placeholder {
    color: rgba(0, 0, 0, .5);
}

form select {
    padding: .75rem !important;
    border-radius: .2rem;
    border: 1px solid #dfdfdf;
    font-size: 16px;
    background: #fff;
    color: rgba(0, 0, 0, .5);
}

.w-100 {
    width: 100%;
}

.phone {
    position: relative;
}

.phone input {
    padding-left: 3.4rem !important;
}

.phone .flag {
    position: absolute;
    z-index: 9;
    bottom: .7rem;
    left: 1rem;
    cursor: pointer;
}

.upload input {
    display: none;
}

.upload label {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid #dfdfdf;
    border-radius: .2rem;
    padding: 1rem;
    cursor: pointer;
}

.upload label:hover {
    background: rgba(0, 59, 222, .1)
}

.upload .img_container {
    margin-right: 1.4rem;
}

form .small2 {
    font-weight: bold;
    margin-bottom: .5rem;
}

/* ------------------------- content --------------------------------- */

.mobile_menu {
    display: none;
    background: #fff;
    border-bottom: 1px solid #dfdfdf;
    padding: 2rem;
}

.mobile_menu ul li {
    padding: .6rem 0;
}

.hamburger {
    z-index: 99;
    position: absolute;
    background: rgba(0, 59, 222, .1);
    padding: 1rem;
    right: 0;
    display: none;
}

.hamburger .fa-bars{
    display: none;
}